<% include header %>
<section>

    <h2>
      <%- item.titel %>
    </h2>
    <img src="/img/<%- item.afbeeldingl %>" alt="<%- item.titel %>">

    <p><%- item.datum %></p>

    <p>
      <%- item.body %>
    </p>

</section>
<% include footer %>
